.custom{
    margin-top: 200px;
    color: white;
    min-height: 900px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img{
        background-color: grey;
    }
    .formContainer{
        padding: 5px;
    }
    .formText{
        min-height: 50vh;
        align-content: center;
        line-height: 1.4;
        margin-bottom: 5px;
        h2{
            color: gold;
        }
    }
}
.form{
    text-align: center;
    height: 40%;
    align-content: center;

    .checkboxContainer{
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5px;
        position: relative;
        top: 40px;

        label{
        }
    }
        .submit{
            position: relative; 
            top: 80px;
            padding: 0 20px;
        }
}
/*.form{
    height: 400px;
    display: grid;
    grid-template-rows: 1fr,1fr,1fr,1fr,1fr,5fr,1fr;
    .description{
        height: 150px;
    }
    input{
        width: 95%;
        height: 95%;
        margin: auto;
        padding: 5px;
    }
    .checkboxContainer{
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: fit-content;
        input{
            width: 20px;
        }
    }
    label{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100px;
        min-height: 50px;
        align-content: center;
    }
}*/